h1 {
    text-align: center;
}

div {
    text-align: center;
}

ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.disponivel {
    color: greenyellow;
    font-weight: bold;
}

.indisponivel {
    color: red;
    font-style: italic;
    font-weight: bold;

}