<h1>Catálogo de Produtos com Estoque</h1>

<div>
    <button (click)="toggleMensagem()">Mostar os produtos</button>
</div>

<div *ngIf="mostrarListagem">
    <ul>
        <li *ngFor="let item of listaprodutos">
            {{ item.nome }}

            <span [ngStyle]="{'color': item.preco > 2000 ? 'blue' : 'black'}">
                R$ {{ item.preco }}
            </span>

            <span [ngClass]="{'disponivel': item.estoque > 0, 'indisponivel': item.estoque === 0}">
                {{ item.estoque > 0 ? 'Disponível' : 'Indisponível' }}
            </span>
        </li>
    </ul>
</div>

<div>
    <button (click)="aumentarPreco()">+</button>
    <button (click)="diminuirPreco()">-</button>
</div>